<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/bg-about.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto" id="about">
      <img src="assets/img/ja.jpg" alt="Picture of me">
      <p>Hi! My name is Stefan. I am 29 years old student of Web Programming.</p>
      <hr>
      <p>I'm session guitarist in some alternative bands and professional billiard player who loves some coding.</p>
      <hr>
      <p>This is a school project for Practicum in Object-oriented Web Programming</p>
    </div>
  </div>
</div>

<hr>

