<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/bg-home.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>MyBlog</h1>
          <span class="subheading">Place for your experiences.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <app-post-list></app-post-list>
    </div>
  </div>
</div>
<hr>


